<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/IntermezzoCode"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/schmiddy_steph/?hl=de"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/stephan.schmidbauer.5"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/stephan-schmidbauer-33497781/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="contact-details">
    Email: schmidbauer.stephan@gmail.com
  </div>
  <div class="footer-copyright">
    This page was made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
