.interest {
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: white;
    padding: 10px 0px;
  }
}

#interest-box {
  display: flex;
  justify-content: space-around;
}

.interest-frame {
  border: 2px solid black;
  border-radius: 50%;
  padding: 30px;
  background-color: white;
}
