.container1 {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: $green;
}

.container2 {
  margin: 0 auto;
  width: 80%;
  background-color: $green;
  h2 {
    text-align: center;
    color: white;
    padding: 20px;
  }
  p {
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
  }
}

.container3 {
  margin: 0 auto;
  width: 80%;
  background-color: $green-grey;
  margin-top: 15px;
  h2 {
    text-align: center;
    color: white;
    padding: 20px;
  }
  p {
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.container4 {
  margin: 0 auto;
  width: 80%;
  background-color: $green;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  h2, p {
    color: white;
    background-color: $red;
    padding: 20px;
    margin: 0px;
  }
}

.container5 {
  margin: 0 auto;
  width: 80%;
  background-color: $green-grey;
  text-align: center;
  margin-top: 15px;
  h2, p {
    color: white;
    padding: 20px;
  }
}

// .container2 .container3 .container4 .container5 {
//   h2, p {
//     color: white;
//     padding: 20px;
//     margin-top: 0;
//   }
// }
