body {
  background-color: #ddd;
}

.container1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  img {
    height: 30%;
  }
}

.container2 {
  margin: 0 auto;
  width: 80%;
  background-color: $red;
  p {
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    margin-bottom: 0;
  }
}

.container3 {
  margin: 0 auto;
  width: 80%;
  background-color: $red;
  margin-top: 50px;
  p {
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 0;
    background-color: $dark-green;
  }
}

.container4 {
  margin: 0 auto;
  width: 80%;
  background-color: $red;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.container5 {
  margin: 0 auto;
  width: 80%;
  background-color: $red;
  text-align: center;
  margin-top: 50px;
  p {
    color: white;
    padding: 20px;
    margin-top: 0;
  }
}

.titles {
    color: white;
    background-color: $dark-green;
    padding: 30px;
    margin: 0px;
    margin-top: 0;
    text-align: center;
    box-shadow: 0px 1px 0px white;
    margin-bottom: 10px;
    font-size: 30px;
  }

// .container2 .container3 .container4 .container5 {
//   h2, p {
//     color: white;
//     padding: 20px;
//     margin-top: 0;
//   }
// }
