// Define variables for your color scheme

// For example:
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #2D3142;
$green-grey: #93A8AC;
$gold: #DCC48E;
$red: #CE4257;
$green: #3C6E71;
$purple: #7E4E60;
