// Define variables for your color scheme

// For example:
$blue: #469AE0;
$yellow: #E1CE7A;
$orange: #E67E22;
$gray: #919191;
$light-gray: #F4F4F4;
$black: #2D3142;
$dark-green: #1C5253;
$gold: #DCC48E;
$red: #882b3e;
$green: #488286;
$purple: #7E4E60;
